@CHARSET "UTF-8";
h1 {
	font-size: 30px;
	color: #0CBBF5;
}

.jumbotron {
	background: #eee;
	padding: 10px 50px 10px 50px;
	border-radius: 32px;
	margin-top: 15px;
	margin-bottom: 10px;
}
.jumbotron p{
	text-align: justify;
}

.span4{
	text-align: center;
}