html, body, #map {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#gis_toolbar { 
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 100px;
    cursor:move;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    border-radius: 4px;
    background-color: #111;
    border: 1px solid black;
    min-width: 60px;
    min-height: 60px;
    height: fit-content;
    width: 80px;
    padding: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#gis_layer_switcher {
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 100px;
    cursor:move;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    border-radius: 4px;
    border: 1px solid black;
    min-width: 60px;
    min-height: 60px;
    height: fit-content;
    width: 250px;
    padding: 5px;
    overflow: hidden;
}

#gis_toolbar button {
    cursor: pointer;
    height: 50px;
    margin: 2.5px 0px 2.5px 0px;
}

#layer_list {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}

.connectedSortable {
    border: 1px solid #cacaca;
    min-height: 20px;
    list-style-type: none;
    padding: 2.5px;
    width: 100%;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    font-size: 12px;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    align-items: center;
}
  
.connectedSortable li {
    margin: 2.5px;
    padding: 5px;
    font-size: 1.2em;
    background: #f3f3f3;
    align-self: stretch;
}